<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.softwore.zgd.activity.dal.persistence.ActDrawRecordMapper">

    <!-- 插入中奖记录-->
    <insert id="addActDrawRecord" parameterType="com.softwore.zgd.activity.dal.entitys.ActDrawRecord">
        <![CDATA[
            INSERT INTO activity_record (uid,NAME,LEVEL,mobile,award_name) VALUES (#{uid},#{name},#{level},#{mobile},#{awardName})
        ]]>
    </insert>

</mapper>
